## Тернарный условный оператор

Синтаксис выглядит следующим образом: <значение1>if<условие>else<значение2>. Т.е. он возвращает значение1, если условие выполняется, и значение2, если не выполняется.

In [6]:
a = 2
b = 10

c = a if a > b else b

print (c)

10

In [7]:
x = 0
y = 0 if x  == 1 else 1
print(y)

1

In [10]:
r = int(input("r = "))

u = r if r>=0 else abs(r)

print(u)

r = -9
9

Тернарный оператор автоматически возвращает результат, тогда как обычный условный оператор выполняет блок кода по определенному условию, и сам по себе не возвращает каких либо значений. Также в тернарном операторе нет внутренних блоков, поэтому можно прописать только одну конструкцию

Тернарный условный оператор можно также рассматривать как активный элемент, например, часть списка:

In [13]:
a = 12
b = 7

list = [5, 6, 3, 9, a if a > b else b, 0, 2]

list

[5, 6, 3, 9, 12, 0, 2]

или часть строки:

In [23]:
t = int(input("t = "))
print(f't - {"четное" if t % 2 == 0 else "нечетное"} число')

t = 2
t - четное число

Также тернарные операторы можно вкладывать друг в друга. Но такие конструкции лучше избегать:

In [26]:
a = 4 if 4 > 2 else(8 if 6 < 3 else 7)